html {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
}

body {
    margin: 3em auto;
    max-width: 640px;
    padding: 0 2em;
}

footer {
    color: #999;
    font-size: .8em;
    margin-top: 4rem;
    text-align: center;
}

h1,
h2 {
    font-weight: 400;
    margin: 0;
}

a {
    color: inherit;
}

ul.webhooks-list {
    list-style-type: none;
    margin-top: 2em;
    padding: 0;
}

ul.webhooks-list p {
    margin: 0;
}

ul.webhooks-list li {
    align-items: center;
    border-top: 1px solid #999;
    display: flex;
    padding: .8em .2em;
}

ul.webhooks-list li:last-child {
    border-bottom: 1px solid #999;
}

div.repo-info {
    flex-grow: 1;
}

div.repo-status {
    text-align: right;
    padding-left: 1em;
}

div.last-updated {
    align-items: center;
    display: flex;
    justify-content: flex-end;
}

div.last-updated .icon {
    padding-right: .25em;
    height: .9375em;
    width: .9375em;
}

p.repo-dir,
p.status-info {
    color: #999;
    font-size: .8em;
}

.status-info.good {
    color: #25a233;
}

.status-info.bad {
    color: #ff1205;
}

pre,
code {
    font-family: Consolas, monospace;
}

pre {
    font-size: .8em;
    background: #fcfcfc;
    border: 1px solid #999;
    max-height: 80vh;
    max-width: 100%;
    overflow-x: auto;
    padding: .5em;
    tab-size: 4;
    -moz-tab-size: 4;
}

@media (max-width: 480px) {
    ul.webhooks-list li {
        align-items: flex-start;
        flex-direction: column;
    }

    div.repo-status {
        padding-left: 0;
        text-align: left;
    }
}
